@page
@model TrainManagement.Views.Home.IndexModel

<h1>Welcome to Train Management</h1>

<div class="navigation-buttons">
    <a asp-controller="Train" asp-action="Index" class="btn btn-primary">Train</a>
    <a asp-controller="TrainSchedule" asp-action="Index" class="btn btn-primary">Train Schedule</a>
    <a asp-controller="Traveller" asp-action="Index" class="btn btn-primary">Traveller</a>
    <a asp-controller="Reservation" asp-action="Index" class="btn btn-primary">Reservation</a>
</div>



